.fab {
    margin: 0 0.2em;
}
.fa-facebook {
    color: #3b5998;
}
.fa-github {
    color: black;
}
.fa-instagram {
    color: #f77737;
}
.fa-linkedin {
    color: #0077B5
}
.fa-flickr {
    color: #ff0084;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-google-plus {
    color: #dd4b39;
}
.fa-youtube {
    color: #ff0000;
}

code {
    font-size: 0.9em;
}