.fab {
    margin: 0 0.2em;
}
.fa-facebook {
    color: #3b5998;
}
.fa-github {
    color: black;
}
.fa-instagram {
    color: #f77737;
}
.fa-linkedin {
    color: #0077B5
}
.fa-flickr {
    color: #ff0084;
}
.fa-twitter {
    color: #1da1f2;
}
.fa-google-plus {
    color: #dd4b39;
}
.fa-youtube {
    color: #ff0000;
}

code {
    font-size: 0.9em;
}

#john_hero {
    background: url(../images/john_fagradalsfjall.jpg) right no-repeat;
    background-size: cover;
}

@media screen and (max-width: 39.9375em) {
    #john_hero {
        height: 15em;
    }
}

@media screen and (min-width: 40em) and (max-width: 99.9375em) {
    #john_hero {
        height: 25em;
    }
}


@media screen and (min-width: 100em) {
    #john_hero {
        height:45em;
    }
}

.vertical-bottom {
    vertical-align: bottom;
}